<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Photos</h1>
    <p>Express stack photo application.</p>
    <div id="photos">
      <div class="photo">
        <h2>Node.js logo</h2>
        <img src="http://nodejs.org/images/logos/nodejs-green.png" />
      </div>
     </div>
  </body>
</html>
